###Wordpress###
.htaccess
xmlrpc.php
wp-admin/error_log
wp-config.php
wp-content/plugins/*
wp-content/uploads/*
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/backups/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-config-sample.php
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
*.log
error_log


###SublimeText 2/3###
*.sublime-project
*.sublime-workspace
*.cache
